altgraph==0.17.2
cffi==1.15.1
colored==1.4.3
future==0.18.2
Gooey==1.0.8.1
numpy==1.23.3
pefile==2022.5.30
Pillow==9.2.0
psutil==5.9.2
pycparser==2.21
pygit2==1.10.1
pygtrie==2.5.0
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pywin32==304
pywin32-ctypes==0.2.0
six==1.16.0
wxPython==4.2.0